In [2]:
import pandas as pd

In [4]:
data = pd.DataFrame({
    'pais' : ['Chile', 'Argentina', 'Peru', 'Venezueña'],
    'poblacin' : [18730000,4490000, 31990000, 28870000]
})
data

        pais  poblacin
0      Chile  18730000
1  Argentina   4490000
2       Peru  31990000
3  Venezueña  28870000

In [5]:
data.describe()

           poblacin
count  4.000000e+00
mean   2.102000e+07
std    1.238882e+07
min    4.490000e+06
25%    1.517000e+07
50%    2.380000e+07
75%    2.965000e+07
max    3.199000e+07